<div class="bucketListPage">
  <section class="bucketForm">
    <div id="bucketInfo">
      <h2>Bucket List Courses</h2>
      <p>
        Do you have any courses that you are going to be playing soon? <br />
        Any courses that you want to play in the future?<br />
        Add them here!!
      </p>
    </div>
    <form class="bucket form-horizontal">
      <!-- <div class="buckCourse"> -->
      <!-- controller: 'BucketListController as buckets', -->
      <label for="courseName"> Course Name:</label>
      <input ng-model="buckets.addedBucket.courseName" type="text" name="course name" placeholder="add course here">
      <!-- <br /> -->
      <label for="location"> Location:</label>
      <input ng-model="buckets.addedBucket.location" type="text" name="course name" placeholder="add location here">

      <label for="whenToGo"> Date Planned?</label>
      <input ng-model="buckets.addedBucket.whenToGo" type="text" name="Date Planned" placeholder="When??">


      <button class="btn btn-primary pull-center" ng-click="buckets.addUserBuckets(addedBucket)">Add To List</button>

      <!-- </section> -->
    </section>
  </form>
  <div>
    <table class="bucketCourses">
      <thead>
        <tr>
          <th></th>
          <th>Course Name:</th>
          <th>Location</th>
          <th>When?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="buckets in buckets.array">
          <td>{{ $index + 1 }}</td>
          <td>{{buckets.buckets[0].courseName}}</td>
          <td>{{buckets.buckets[0].location}}</td>
          <td>{{buckets.buckets[0].whenToGo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
body {
  text-align: center;
  background: url(/public/assets/golfhole.jpg) no-repeat center center fixed;
  background-size: cover;
  /*color: blue;*/
}
</style>
