<!-- Consider this the main view -->

<!-- Shown for users that are NOT logged in -->
<section ng-hide="auth.loggedIn">
  <!-- I got this button image from Googles sign-in button brand guidelines page -->
  <a href= "/auth/google"><img src="/public/assets/btn_google_signin_dark_normal_web.png" /></a>
</section>
<section ng-show="auth.loggedIn">

<h2>Welcome to My Golf Course Rater</h2>

<p>
  You are now logged in to My Golf Course Rater. <br />
  To add courses to your favorites list, click on the Favorites tab!!
</p>
</section>

<style>
  body {
    text-align: center;
      /*background: url("/public/assets/golf_hole.jpg") no-repeat center center fixed;*/
      background-size: cover;
  }
</style>
