
body {
  background: #ccc;
  font-family: 'Anton', sans-serif;
}

 html, h1, h2, p, label, .favArray {
  color: yellow;
}

h1, h2, {
  text-align: center;
}

.course{
  /*background-color: gray;*/
  opacity: 0.8px;
  /*width: 50%;*/
}
table{
  text-align: left;
}
table, th , td  {
  border: 3px solid grey;
  border-collapse: collapse;
  border-radius: 5px;
  padding: 5px;
}
th {
  background-color: red;
  /*color: yellow;*/
  /*text-align: center;*/
  padding-right: 80px;
  border-bottom: 10px;
}
table tr:nth-child(odd) {
  background-color: #f6ff07;
  /*color is yellow*/
}
table tr:nth-child(even) {
  background-color: #07ff4d;
/*color is green*/
}

/*.favArray {
  font-size: 24px;
  font-family: fantasy;
  font-weight: bold;
}*/
h2 {
  font-weight: bolder;
}
input{
  width: 200px;
}
input:focus, input:hover {
  background-color: #12eda4;
}

.faves {
    display: inline-block;
    /*text-align: center;*/
    /*width: 50%;*/
    }
.navs {
  /*max-width: 800px;*/
}
.navs ul {
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navs li {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #888;
}

.navs a {
  text-decoration: none;
  color: #0c820a;
  display: block;
  transition: .3s background-color;
  font-size: 20px;
  font-weight: bolder;
}

.navs a:hover {
  background-color: yellow;
}

.navs a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
.navs li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }

.navs li {
    display: inline-block;
    /*margin-right: -4px;*/
  }
